div.background {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
div.dev-tools-bg {
    background: #0b1f2b url(/images/dev-tool-background.png) repeat center center!important;
    padding: 60px 0 0 0;
    height: 230px;
}
.navcustom
{
      color: #fff;
    background-color: #4e7de6;
    width: 100%;
    height: 56px;
    line-height: 56px;
}