<div class="container-fluid">
  <div class="row row">
    <div class="col s6">
      <div class="dev-box" routerLink="/jsoneditor" routerLinkActive="active">
        <a target="_top" title="Online JSON Editor">
          <img class="" src="../../../assets/images/json-editor-devtools.jpg" alt="Online JSON Editor">
          <h5>JSON Editor</h5>
        </a>
      </div>
    </div>
    <div class="col s6">
      <div class="dev-box">
        <a target="_top"  title="Online JSON Editor">
          <img src="../../../assets/images/xml.ico" alt="Online JSON Editor">
          <h5>XML Editor</h5>
        </a>
      </div>
    </div>
    <div class="col s6">
      <div class="dev-box">
        <a target="_top" href="http://www.tutorialspoint.com/online_json_editor.htm" title="Online JSON Editor">
          <img src="../../../assets/images/js-validator.jpg" alt="Online JSON Editor">
          <h5>JS Editor</h5>
        </a>
      </div>
    </div>
    <div class="col s6">
      <div class="dev-box">
        <a target="_top" href="http://www.tutorialspoint.com/online_json_editor.htm" title="Online JSON Editor">
          <img src="../../../assets/images/minify-css.png" alt="Online JSON Editor">
          <h5>CSS Minifier</h5>
        </a>
      </div>
    </div>
  </div>
</div>